Misc/
*.Rhistory
*.zip
*.bz2
*Quiz*
BEA_api_attempt.R
*problem_id_*
*.csv
*.rds
*.Rdata
*.docx
*.doc
*HW*
Model_Thinking/*
JHU_DataSci/*
Intro_Corp_Finance/*
R_Programming/Archive/*
Getting_and_Cleaning_Data/Archive/*
LAFF_Linear_Algebra/MATLAB_FUNCTIONS/*
Data_Science_Capstone/Coursera-Swiftkey/*
Data_Science_Capstone/text_mining_infrastructure_in_R.pdf
Developing_Data_Products/DEVPROD_Project/*
Developing_Data_Products/DEVPROD_Week1_Notes.html
Developing_Data_Products/test-figure/*
Developing_Data_Products/test.Rpres
Developing_Data_Products/test.md
Developing_Data_Products/test1/*
*household_power_consumption.txt
*ExData_Project2/*